{% extends 'base.html' %}

{% load static %}

{% block content %}
<!-- **** Breadcrumb Area Start **** -->
<div class="breadcrumb-area bg-img bg-overlay-3 wow fadeInUp" data-wow-delay="200ms" style="background-image: url({% static 'img/bg-img/30.jpg' %});">
    <div class="container h-100">
        <div class="row h-100 align-items-center">
            <div class="col-12">
                <div class="breadcrumb-content">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">About</li>
                        </ol>
                    </nav>
                    <h2 class="page-title">About Us</h2>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- **** Breadcrumb Area End **** -->

<!-- **** About Us Area Start **** -->
<section class="about-us-area section-padding-100-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="about-us-title mb-40 wow fadeInUp" data-wow-delay="200ms">
                    <h2>Hello! Welcome to Re<span>home.</span></h2>
                    <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                </div>
            </div>

            <!-- Single About Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-about-content wow fadeInUp" data-wow-delay="200ms">
                    <!-- Thumb -->
                    <div class="single-about-thumb">
                        <img src="{% static 'img/bg-img/31.jpg' %}" alt="">
                    </div>
                    <h4>Our Company</h4>
                    <p>Donec enim ipsum porta justo integer at velna vitae auctor integer congue magna at risus auctor purus unt pretium ligula rutrum integer sapien ultrice ligula luctus undo magna risus</p>
                </div>
            </div>

            <!-- Single About Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-about-content wow fadeInUp" data-wow-delay="200ms">
                    <!-- Thumb -->
                    <div class="single-about-thumb">
                        <img src="{% static 'img/bg-img/32.jpg' %}" alt="">
                    </div>
                    <h4>Our Vision</h4>
                    <p>Donec enim ipsum porta justo integer at velna vitae auctor integer congue magna at risus auctor purus unt pretium ligula rutrum integer sapien ultrice ligula luctus undo magna risus</p>
                </div>
            </div>

            <!-- Single About Area -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-about-content wow fadeInUp" data-wow-delay="200ms">
                    <!-- Thumb -->
                    <div class="single-about-thumb">
                        <img src="{% static 'img/bg-img/33.jpg' %}" alt="">
                    </div>
                    <h4>Our Quality</h4>
                    <p>Donec enim ipsum porta justo integer at velna vitae auctor integer congue magna at risus auctor purus unt pretium ligula rutrum integer sapien ultrice ligula luctus undo magna risus</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- **** About Us Area End **** -->

<!-- **** Choose Us Area Start **** -->
<section class="rehomes-choose-us-area section-padding-100-60">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="section-heading text-center wow fadeInUp" data-wow-delay="200ms">
                    <h2><span>Why</span> Choose Us?</h2>
                    <p>We have over 8 years of experience and knowledge on how to sell more.</p>
                </div>
            </div>

            <!-- Single choose us content -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-choose-us-content wow fadeInUp" data-wow-delay="200ms">
                    <!-- Choose us Icon -->
                    <div class="choose-us-icon">
                        <i class="icon_search"></i>
                    </div>
                    <h5>Find Your Home</h5>
                    <p>Quis ipsum suspendisse ultrices, risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                </div>
            </div>

            <!-- Single choose us content -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-choose-us-content wow fadeInUp" data-wow-delay="200ms">
                    <!-- Choose us Icon -->
                    <div class="choose-us-icon">
                        <i class="icon_building"></i>
                    </div>
                    <h5>Transportation support</h5>
                    <p>Quis ipsum suspendisse ultrices, risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                </div>
            </div>

            <!-- Single choose us content -->
            <div class="col-12 col-md-6 col-lg-4">
                <div class="single-choose-us-content wow fadeInUp" data-wow-delay="200ms">
                    <!-- Choose us Icon -->
                    <div class="choose-us-icon">
                        <i class="icon_creditcard"></i>
                    </div>
                    <h5>Save Your Money</h5>
                    <p>Quis ipsum suspendisse ultrices, risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- **** Choose Us Area End **** -->

<!-- **** Partner Area Start **** -->
<div class="partner-area wow fadeInUp" data-wow-delay="200ms">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="partner-logo-slide owl-carousel">
                        <!-- Single Partner Logo -->
                        <a href="#" class="partner-logo wow fadeInUp" data-wow-delay="100ms"><img src="{% static 'img/core-img/1.png' %}" alt=""></a>
                        <!-- Single Partner Logo -->
                        <a href="#" class="partner-logo wow fadeInUp" data-wow-delay="300ms"><img src="{% static 'img/core-img/2.png' %}" alt=""></a>
                        <!-- Single Partner Logo -->
                        <a href="#" class="partner-logo wow fadeInUp" data-wow-delay="500ms"><img src="{% static 'img/core-img/3.png' %}" alt=""></a>
                        <!-- Single Partner Logo -->
                        <a href="#" class="partner-logo wow fadeInUp" data-wow-delay="700ms"><img src="{% static 'img/core-img/4.png' %}" alt=""></a>
                        <!-- Single Partner Logo -->
                        <a href="#" class="partner-logo wow fadeInUp" data-wow-delay="900ms"><img src="{% static 'img/core-img/5.png' %}" alt=""></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- **** Partner Area End **** -->
{% endblock %}