{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ETbets {% block title %} {% endblock %}</title>
    <!-- Favicon -->
    <link rel="icon" href="{% static './img/core-img/logo.png' %}">

    <!-- Stylesheet -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <link rel="stylesheet" href="{% static 'css/lightbox.min.css' %}">
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-166025792-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-166025792-1');
</script>

</head>
<body>

    <!-- Preloader -->
    <div id="preloader">
            <div class="loader"></div>
        </div>
    
        <!-- **** Header Area Start **** -->
        <header class="header-area">
            <!-- Top Bar -->
            {% include 'partials/_topbar.html' %}
            <!-- Navbar -->
            {% include 'partials/_navbar.html' %}

        </header>
        <!-- **** Header Area End **** -->

    {% block content %} {% endblock %}

    {% include 'partials/_footer.html' %}

    <!-- **** All JS Files ***** -->
    <!-- jQuery 2.2.4 -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <!-- Popper -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <!-- All Plugins -->
    <script src="{% static 'js/rehomes.bundle.js' %}"></script>
    <!-- Active -->
    <script src="{% static 'js/default-assets/active.js' %}"></script>

    <script src="{% static 'js/lightbox.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>
</html>